# Database Connection (Supabase PostgreSQL with PostGIS)
DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres?sslmode=require"

# Auth JWT Secret
JWT_SECRET="your-jwt-secret-key-here"
DATA_GOV_IN_API_KEY=579b464db66ec23bdd00000140108ef2fea94a85757f9f5bacc125cc