@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 11, 37, 69;
  --background-rgb: 241, 245, 249;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.high-contrast {
  filter: contrast(140%);
  background-color: #000000 !important;
  color: #ffff00 !important;
}
